import(methods, pkgmaker, rjson, data.table, parallel, doParallel, foreach, httr, igraph)
import(dplyr, doRNG)
importFrom("grDevices", "bmp", "dev.off", "pdf", "png","colorRampPalette")
importFrom("graphics", "axis", "barplot", "layout", "par", "text")
importFrom("stats", "p.adjust", "phyper")
importFrom(tools, file_ext)
importFrom("utils", "download.file", "write.table","read.table")
importFrom("whisker", "whisker.render", "rowSplit")
export(WebGestaltR, WebGestaltRBatch, WebGestaltR_batch, idMapping, IDMapping, idToSymbol, goSlimSummary, GOSlimSummary, listGeneSet, listIdType, listIDType, listOrganism, readGmt, readGMT, listReferenceSet, listArchiveUrl, listArchiveURL, formatCheck)
