import(methods, pkgmaker, rjson, data.table, PythonInR, parallel, doParallel, foreach)
importFrom("grDevices", "bmp", "dev.off", "pdf", "png","colorRampPalette")
importFrom("graphics", "axis", "barplot", "layout", "par", "text")
importFrom("stats", "p.adjust", "phyper")
importFrom("utils", "download.file", "write.table","read.table")
export(WebGestaltR, WebGestaltR_batch, IDMapping, GOSlimSummary, listGeneSet, listIDType, listOrganism, readGMT, listReferenceSet, listArchiveURL, formatCheck)