<section id="enrich-result">
	<h4 class="title is-4 has-text-primary">Enrichment Results</h4>
	<b-tabs v-model="activeTab" type="is-toggle">
		<b-tab-item label="Bar chart">
		<div class="vertical-center-container">
			<wg-bar-plot
				:dimensions="bar.dimensions"
				:data="enrichment"
				:value-key="bar.valueKey"
				name-key="geneset"
				:x-label="bar.xLabel">
			</wg-bar-plot>
		</div>
		</b-tab-item>
		<b-tab-item label="Volcano plot">
		<div class="vertical-center-container">
			<wg-volcano-plot
				:data="combinedData"
				:x="volcano.x"
				:y="volcano.y"
				:x-label="volcano.xLabel"
				:label-types="volcano.labelTypes"
				:x-transform="volcano.xTransform"
				:radius="volcano.radius"
				:color="volcano.color"
				:tooltip-content="volcano.tooltipContent"
				:show-all-labels="false"
				:auto-place-labels="true"
			></wg-volcano-plot>
		</div>
		</b-tab-item>
		{{#hasGeneSetDag}}
		<b-tab-item label="DAG">
			<wg-go-dag
				:data="goDag"
			></wg-go-dag>
		</b-tab-item>
		{{/hasGeneSetDag}}
	</b-tabs>
	<wg-gene-table
		:data="geneTables"
		:info="enrichment"
		:standard-id="standardId"
		:method="enrichMethod"
		{{#methodIsOra}}
		:mapped-input-size="mappedInputSize"
		{{/methodIsOra}}
	></wg-gene-table>
</section>
