{{>statDes}}
<div width="100%">
<table class="zebra"><thead><tr>
{{#methodIsGsea}}
<p>Categories with red color represent positively related categories while categories with blue color represent negatively related categories.</p>
{{/methodIsGsea}}
{{#hasGeneSetDes}}
<th width="10%">FuncSet</th><th width="20%">Name</th><th width="30%">Statistic</th><th width="40%">UploadedID</th></tr></thead>
{{/hasGeneSetDes}}
{{^hasGeneSetDes}}
<th width="10%">FuncSet</th width="30%"><th>Statistic</th><th width="60%">UploadedID</th></tr></thead>
{{/hasGeneSetDes}}
<tbody>
{{#enrichedCategories}}
<tr style="color:{{color}}"><td><a href="{{link}}" target="_blank" style="color:{{color}}">{{id}}</a></td>{{#hasGeneSetDes}}<td>{{name}}</td>{{/hasGeneSetDes}}<td>{{statistic}}</td><td>{{genes}}</td></tr>
{{/enrichedCategories}}
</tbody></table></div><br/><br/>
