<h4>Detailed information of the enriched categories</h4>
<div class="tooltip_templates">The statistics<a class="tooltip-container"><img src="http://www.webgestalt.org/images/info.png" width="13" height="13"/><span class="tooltip_content">
{{#methodIsOra}}
<strong>
<ul><li>C: the number of reference IDs in the category</li>
<li>O: the number of IDs in the user uploaded list and also in the category</li>
<li>E: The expected number in the category</li>
<li>R: ratio of enrichment</li>
<li>P Value: P value from hyergeometric test</li>
<li>FDR: FDR from {{fdrMethod}}</li></ul>
</strong></span></a>
for the enriched categories and the IDs in the user uploaded list and also in the category are listed in the table.
{{/methodIsOra}}
{{#methodIsGsea}}
<strong>
<ul><li>Size: the number of IDs in the user uploaded list and also in the category</li>
<li>L: the number of leading edge IDs</li>
<li>ES: Enrichment Score</li>
<li>NES: Normalized Enrichment Score</li>
<li>PValue: p value from GSEA</li>
<li>FDR: FDR from GSEA</li></ul>
</strong></span></a>
for the enriched categories and the leading edge IDs are listed in the table.
{{/methodIsGsea}}
</div>
