<h4 class="title is-4 has-text-primary">Enrichment Results</h4>
<section id="enrich-result">
	<p class="select-redundancy">
		<b-tooltip label="Enriched analyte sets are post-processed by two methods to reduce redundancy." type="is-dark" animated multilined dashed>
			Redundancy reduction:
		</b-tooltip>
		<b-radio v-model="redundancy" native-value="all">None</b-radio>
		{{#hasAp}}
		<b-radio v-model="redundancy" native-value="ap">
			<b-tooltip label="R package cluster is used to cluster analyte sets." type="is-dark" animated multilined dashed>
				Affinity Propagation
			</b-tooltip>
		</b-radio>
		{{/hasAp}}
		{{#hasKmed}}
		<b-radio v-model="redundancy" native-value="km">
			<b-tooltip label="R package cluster using k-medoid to cluster analyte sets." type="is-dark" animated multilined dashed>
				<i>k</i>-Medoid
			</b-tooltip>
		</b-radio>
		{{/hasKmed}}
		{{#hasWsc}}
		<b-radio v-model="redundancy" native-value="wsc">
			<b-tooltip label="Find top analyte sets while maximizing analyte coverage." type="is-dark" animated multilined dashed>
				Weighted set cover
			</b-tooltip>
		</b-radio>
		{{/hasWsc}}
	</p>
	<b-tabs v-model="activeTab" type="is-toggle">
		<b-tab-item label="Table">
			<wg-result-table
				:data="enrichmentData"
				:method="enrichMethod"
				:is_meta="true"
			></wg-result-table>
		</b-tab-item>
	</b-tabs>
	<wg-gene-table
		:data="geneTables"
		:info="enrichment"
		:standard-id="standardId"
		:method="enrichMethod"
		:is_meta="true"
		{{#methodIsOra}}
		:mapped-input-size="mappedInputSize"
		{{/methodIsOra}}
		:organism="organism"
		:host-name="hostName"
		:sets-with-net="{{setsWithNetJson}}"
	></wg-gene-table>
</section>
