<div id={{networkName}}>
<section class="section">
	<h4 class="title is-4">Summary of the analysis results <span class="title is-5"><a href="{{zipPath}}" target="_blank">(Result Download)</a></span></h4>
<ul>
{{#summary}}
<li>{{.}}</li>
{{/summary}}
</ul>
</section>
<section class="section">
<div class="columns is-multiline">
<div class="column is-5-widescreen is-6-desktop is-12-tablet is-12-mobile">
<h4 class="title is-4">Sub-network graph </h4>
<div  class="box cy_container">
	<div id="{{netName}}_container"></div>
</div>
<div class="is-flex-tablet">
<!-- gene net legend -->
<svg height="32" width="300" xmlns="http://www.w3.org/2000/svg">
{{#methodIsNetworkExpansion}}
{{#highlightIsSeeds}}
<circle cx="12" cy="16" r="10" fill="#999999" />
<text y="15" font-size="10" font-weight="bold">
<tspan x="27">Top ranking</tspan>
<tspan x="27" dy="12">neighbors</tspan>
</text>
<circle cx="118" cy="16" r="14" fill="#999999" />
<text y="15" font-size="10" font-weight="bold">
<tspan x="136">Seed</tspan>
<tspan x="136" dy="12">genes</tspan>
</text>
<circle cx="187" cy="16" r="10" fill="#ff7474" />
<text y="15" font-size="10" font-weight="bold">
<tspan x="202">Genes with</tspan>
<tspan x="202" dy="12">selected function</tspan>
</text>
{{/highlightIsSeeds}}
{{^highlightIsSeeds}}
<circle cx="12" cy="16" r="10" fill="#999999" />
<text y="15" font-size="10" font-weight="bold">
<tspan x="27">Seed</tspan>
<tspan x="27" dy="12">genes</tspan>
</text>
<circle cx="82" cy="16" r="14" fill="#999999" />
<text y="15" font-size="10" font-weight="bold">
<tspan x="102">Top ranking</tspan>
<tspan x="102" dy="12">neighbors</tspan>
</text>
<circle cx="185" cy="16" r="10" fill="#ff7474" />
<text y="15" font-size="10" font-weight="bold">
<tspan x="200">Genes with</tspan>
<tspan x="200" dy="12">selected function</tspan>
</text>
{{/highlightIsSeeds}}
{{/methodIsNetworkExpansion}}
{{^methodIsNetworkExpansion}}
<circle cx="12" cy="16" r="10" fill="#999999" />
<text y="15" font-size="9" font-weight="bold">
<tspan x="27">Other seed</tspan>
<tspan x="27" dy="12">genes</tspan>
</text>
<circle cx="102" cy="16" r="14" fill="#999999" />
<text y="15" font-size="9" font-weight="bold">
<tspan x="120">Top ranking</tspan>
<tspan x="120" dy="12">seed genes</tspan>
</text>
<circle cx="197" cy="16" r="10" fill="#ff7474" />
<text y="15" font-size="9" font-weight="bold">
<tspan x="212">Genes with</tspan>
<tspan x="212" dy="12">selected function</tspan>
</text>
{{/methodIsNetworkExpansion}}
</svg>
{{#toolboxNet}}
{{>toolbox}}
{{/toolboxNet}}
</div>
<script type="text/javascript">
	document.addEventListener('DOMContentLoaded', plotNetwork("{{netName}}_container", {{{networkJson}}}));
</script>
</div> <!-- column -->

<div class="column is-5-widescreen is-offset-2-widescreen is-6-desktop is-12-tablet is-12-mobile">
<h4 class="title is-4">Enriched GO terms graph</h4>
<div  class="box cy_container">
	<div id="{{dagName}}_container"></div>
</div>
<div class="is-flex-tablet">
<!-- dag legend -->
<svg height="32" width="300" xmlns="http://www.w3.org/2000/svg">
<rect x="5" y="4" rx="4" ry="4" height="24" width="50" fill="#fff2cc" stroke="#a16d00" stroke-width="1" />
<text y="15" font-size="10" font-weight="bold">
<tspan x="62">Ancestor of</tspan>
<tspan x="62" dy="12">enriched terms</tspan>
</text>
<rect x="155" y="4" rx="4" ry="4" height="24" width="50" fill="#ff7474" stroke="#a16d00" stroke-width="1" />
<text y="15" x="210" font-size="10" font-weight="bold">
<tspan x="212">Enriched GO</tspan>
<tspan x="212" dy="12">terms</tspan>
</text>
</svg>
{{#toolboxDag}}
{{>toolbox}}
{{/toolboxDag}}
</div>
<script type="text/javascript">
	document.addEventListener('DOMContentLoaded', plotDag("{{dagName}}_container", {{{dagJson}}}));
</script>
</div> <!-- column -->
</div> <!-- columns -->
</section>

<section class="section">
<h4 class="title is-4">Detailed Information</h4>
<div class="columns is-multiline">
<div class="column is-6-widescreen is-12-desktop is-12-tablet is-12-mobile" id="col-go">
<table id="table-go" class="table is-striped">
{{#sigMethodIsFdr}}
<thead>
	<tr><th colspan="7">Enriched GO Terms (FDR < {{fdrThr}})</th></tr>
{{/sigMethodIsFdr}}
{{^sigMethodIsFdr}}
<thead><tr><th colspan="7">Enriched GO categories (Top {{topThr}} categories)</th></tr>
{{/sigMethodIsFdr}}
{{#methodIsNetworkExpansion}}
<tr><th colspan="7">C: The number of genes in the selected network and also in the category; O: The number of genes in the expanded sub-network and also in the category.</th></tr>
{{/methodIsNetworkExpansion}}
{{^methodIsNetworkExpansion}}
<tr><th colspan="7">C: The number of genes in the selected network and also in the category; O: The number of genes in the retrieved sub-network and also in the category.</th></tr>
{{/methodIsNetworkExpansion}}
<tr><th>GO ID</th><th>GO Name</th><th>C</th><th>O</th><th>Raw P-value</th><th>Adjusted P-value</th><th>Seeds & Neighbors</th></tr></thead>
<tbody>
	{{#enrichment}}
	<tr id="{{goId}}_{{networkName}}">
		<td><a href="http://amigo.geneontology.org/amigo/term/{{goId}}" target="_blank">{{goId}}</a></td>
		<td>{{goName}}</td>
		<td>{{c}}</td>
		<td>{{o}}</td>
		<td>{{rawP}}</td>
		<td>{{adjP}}</td>
		<td data-content="{{geneListStr}}" data-highlight="{{highlightedGenes}}" data-go="{{goId}}">
			<a class="button is-small" onclick=geneModal(this.parentNode)>
				<span class="icon is-small">
					<svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" viewBox="0 0 8 8">
						<title>Show gene list of the enriched GO catergory</title>
						<path d="M.5 0c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm1.5 0v1h6v-1h-6zm-1.5 2c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm1.5 0v1h6v-1h-6zm-1.5 2c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm1.5 0v1h6v-1h-6zm-1.5 2c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm1.5 0v1h6v-1h-6z" />
					</svg>
				</span>
			</a>
			<a class="button is-small" onclick=highlightEnrich(this.parentNode)>
				<span class="icon is-small">
					<svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" viewBox="0 0 8 8">
						<title>Highlight enriched GO term in DAG and genes in network</title>
						<path d="M0 0v8h1v-8h-1zm2 0v4h2v1h4l-2-1.97 2-2.03h-3v-1h-3z" />
					</svg>
				</span>
			</a>
		</td>
	</tr>
	{{/enrichment}}
</tbody>
</table>
</div> <!-- column -->

<div class="column is-3-widescreen is-6-desktop is-6-tablet is-12-mobile" id="col-seed">
<table id="table-seed" class="table is-striped">
<thead>
	<tr><th colspan ="1">Seeds in the sub-network</th></tr>
	<tr><th>Gene Symbol</th></tr>
</thead>
<tbody>
{{#seeds}}
	<tr><td><a href="http://www.ncbi.nlm.nih.gov/gene/?term={{.}}" target="_blank">{{.}}</a></td></tr>
{{/seeds}}
</tbody>
</table>
</div> <!-- column -->
<div class="column is-3-widescreen is-6-desktop is-6-tablet is-12-mobile" id="col-rank">
<table class="table is-striped" id="table-rank">
<thead>
{{#methodIsNetworkExpansion}}
	<tr><th colspan="2">Top Ranking Neighbors<br></th></tr>
	<tr><th>Gene Symbol</th><th>Random Walk Probability</th></tr>
{{/methodIsNetworkExpansion}}
{{^methodIsNetworkExpansion}}
	<tr><th colspan="2">Ranked Seeds</th></tr>
	<tr><th>Gene Symbol</th><th>Random Walk Probability</th></tr>
{{/methodIsNetworkExpansion}}
</thead>
<tbody>
{{#candidates}}
<tr><td><a href="http://www.ncbi.nlm.nih.gov/gene/?term={{candidate}}" target="_blank">{{candidate}}</a></td>
<td>{{score}}</td></tr>
{{/candidates}}
</tbody>
</table>
</div> <!-- column -->

</div> <!-- columns -->
</section>
</div>
