<div id={{networkName}} v-cloak>
<section>
<div class="level">
	<div class="level-left">
		<div class="level-item">
			<h4 class="title is-4 has-text-primary">Summary of the analysis results</h4>
		</div>
	</div>
	<div class="level-right">
		<div class="level-item">
			<a class="button is-text" href="{{zipPath}}" target="_blank">Result Download</a>
		</div>
	</div>
</div>
</section>

<section id="summary" class="summary">
<div class="card" v-bind:class="{active: summaryShown}" >
	<div class="card-header" v-on:click="summaryShown=!summaryShown">
		<p class="card-header-title">Job Summary</p>
		<a href="#" class="card-header-icon">
			<b-icon :icon="summaryShown ? 'chevron-up' : 'chevron-down'"></b-icon>
		</a>
	</div>
	<div class="card-content content" v-show="summaryShown">
		<ul>
		{{#summary}}
		<li>{{.}}</li>
		{{/summary}}
		</ul>
	</div>
</div>
</section>

<section>
<div class="columns is-multiline">
<div class="column is-5-widescreen is-6-desktop is-12-tablet is-12-mobile">
<h4 class="title is-4 has-text-primary">Sub-network graph </h4>
	<nta-gene-network
		container-id="{{netName}}"
		:data="geneNetwork"
		:method="method"
		highlight-type="{{highlightType}}"
		:enrichment="enrichment"
	>
	</nta-gene-network>
</div> <!-- column -->

<div class="column is-5-widescreen is-offset-2-widescreen is-6-desktop is-12-tablet is-12-mobile">
<h4 class="title is-4 has-text-primary">Enriched GO terms graph</h4>
	<nta-dag
		container-id="{{dagName}}"
		:data="dag"
	>
	</nta-dag>
</div> <!-- column -->
</div> <!-- columns -->
</section>

<section>
<h4 class="title is-4 has-text-primary">Detailed Information</h4>
<div class="columns is-multiline">
<div class="column is-6-widescreen is-12-desktop is-12-tablet is-12-mobile" id="col-go">
<nta-enrichment-table
	:data="enrichment"
	:method="method"
	:sig-method="sigMethod"
	:threshold="threshold"
	highlight-type="{{highlightType}}"
>
</nta-enrichment-table>
</div> <!-- column -->

<div class="column is-3-widescreen is-6-desktop is-6-tablet is-12-mobile" id="col-seed">
<nta-seed-table :data="seeds"> </nta-seed-table>
</div> <!-- column -->
<div class="column is-3-widescreen is-6-desktop is-6-tablet is-12-mobile" id="col-rank">
<nta-candidate-table :data="candidates" :method="method"> </nta-candidate-table>
</div> <!-- column -->

</div> <!-- columns -->
</section>
</div>
