<div class="level">
	<div class="level-left">
		<div class="level-item">
			<h4 class="title is-4 has-text-primary">Summary</h4>
		</div>
	</div>
	<div class="level-right">
		<div class="level-item">
			<a class="button is-text" href="Project_{{projectName}}.zip" target="_blank">Result Download</a>
		</div>
	</div>
</div>

<section id="summary" class="summary">
<div class="card" v-bind:class="{active: summaryShown}" >
	<div class="card-header" v-on:click="summaryShown=!summaryShown">
		<p class="card-header-title">Job summary</p>
		<a href="#" class="card-header-icon">
			<b-icon :icon="summaryShown ? 'chevron-up' : 'chevron-down'"></b-icon>
		</a>
	</div>
	<div class="card-content content" v-show="summaryShown">
		<ul id="summary-list"> {{! end of list in summaryOra or summaryGsea }}
		<li><b>Enrich method:</b> {{enrichMethod}}</li>
		<li><b>Organism: </b>{{organism}}</li>
		<li>
		{{^organismIsOthers}}
			{{#enrichDatabaseIsOthers}}
			<b>Enrichment Categories: </b>{{enrichDatabaseFile}} <b>ID Type: </b>{{enrichDatabaseType}}{{#hasEnrichDatabaseDescriptioFile}} <b>Description File: </b>{{enrichDatabaseDescriptionFile}}{{/hasEnrichDatabaseDescriptioFile}}
			{{/enrichDatabaseIsOthers}}
			{{^enrichDatabaseIsOthers}}
			<b>Enrichment Categories: </b>{{enrichDatabase}}
			<a class="has-text-info" href="{{hostName}}/api/geneset?organism={{organism}}&database={{enrichDatabase}}&fileType=gmt">
				<b-icon icon="download" size="is-small"></b-icon>
			</a>
			{{/enrichDatabaseIsOthers}}
		{{/organismIsOthers}}
		</li>

		{{^organismIsOthers}}
			{{#hasInterestGeneFile}}
			<li><b>Interesting list: </b>{{interestGeneFileBase}}. <b>ID type: </b>{{interestGeneType}}</li>
			{{/hasInterestGeneFile}}
			{{^hasInterestGeneFile}}
			<li><b>Interesting list: </b> a R object. <b> ID type: </b>{{interestGeneType}}</li>
			{{/hasInterestGeneFile}}
			<li>The interesting list contains <b>{{numUserId}}</b> user IDs in which <b>{{numMappedUserId}}</b> user IDs are unambiguously mapped to <b>{{numUniqueMappedId}}</b> unique {{standardId}} IDs and <b>{{numUnmappedUserId}}</b> user IDs can not be mapped to any {{standardId}} ID.</li>
			{{#idIsEntrezGene}}
			<li>The GO Slim summary are based upon the <b>{{numUniqueMappedId}}</b> unique {{standardId}} IDs.</li>
			{{/idIsEntrezGene}}
		{{/organismIsOthers}}
		{{#organismIsOthers}}
			{{#hasInterestGeneFile}}
			<li><b>Interesting list: </b>{{interestGeneFileBase}}.</li>
			{{/hasInterestGeneFile}}
			{{^hasInterestGeneFile}}
			<li><b>Interesting list: </b> a R object.</li>
			{{/hasInterestGeneFile}}
		{{/organismIsOthers}}
		{{{methodSpecificContent}}}
	</div>
</div>
</section>
