{{^organismIsOthers}}
Among <b>{{numUniqueUserId}}</b> unique {{standardId}} IDs, <b>{{numAnnoRefUserId}}</b> IDs are annotated to the selected functional categories and also in the reference list, which are used for the enrichment analysis.<br/>
	{{#hasRefGeneFile}}
	<b>Reference list: </b>{{referenceGeneFile}} <b>ID type: </b>{{referenceGeneType}}<br/>
	{{/hasRefGeneFile}}
	{{#hasRefGene}}
	<b>Reference list: </b>a R object. <b>ID type: </b>{{referenceGeneType}}<br/>
	{{/hasRefGene}}
	{{^hasRefGeneFile}}
		{{^hasRefGene}}
		<b>Reference list: </b> all mapped {{standardId}} IDs from the selected platform {{referenceSet}}<br/>
		{{/hasRefGene}}
	{{/hasRefGeneFile}}
	The reference list can be mapped to <b>{{numRefGene}}</b> {{standardId}}IDs and <b> {{numAnnoRefId}}</b> IDs are annotated to the selected functional categories that are used as the reference for the enrichment analysis.<br/>
	{{/organismIsOthers}}
{{#organismIsOthers}}
The file contains <b>{{numUniqueUserId}}</b> user IDs (no ID mapping). All these IDs are used to perform the enrichment analysis.<br/>
	{{#hasRefGeneFile}}
	<b>Reference List: </b>{{referenceGeneFile}}<br/>
	{{/hasRefGeneFile}}
	{{^hasRefGeneFile}}
	<b>Reference List: </b>a R object<br/>
	{{/hasRefGeneFile}}
<b>Total number of reference IDs: </b>{{numRefGene}}<br/>
{{/organismIsOthers}}

<b>Parameters for the enrichment analysis:</b>
<ul><li><b>Minimum number of IDs in the category: </b>{{minNum}}</li>
<li><b>Maximum number of IDs in the category: </b>{{maxNum}}</li>
<li><b>FDR Method: </b>{{fdrMethod}}</li>
{{#methodIsFdr}}
<li><b>Significance Level:</b> FDR<{{fdrThr}}</li>
{{/methodIsFdr}}
{{#methodIsTop}}
<li><b>Significance Level:</b> Top{{topThr}}</li>
{{/methodIsTop}}
</ul>
{{#hasEnrichedSig}}
	{{#showAll}}
	Based on the above parameters, <b>{{numEnrichedSig}}</b> categories are identified as enriched categories and all are shown in this report.<br/>
	{{/showAll}}
	{{^showAll}}
	Based on the above parameters, <b>{{numEnrichedSig}}</b>categories are identified as enriched categories, in which <b>{{dNum}}</b> most significant categories are shown in this report. All significant categories can be downloaded from the 'Result Download' link.<br/>
	{{/showAll}}
{{/hasEnrichedSig}}
{{^hasEnrichedSig}}
Based on the above parameters, <b>No</b> category is identified as enriched category.<br/>
{{/hasEnrichedSig}}
