<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<title>WebGestalt (WEB-based GEne SeT AnaLysis Toolkit)</title>
<link rel="icon" type="image/png" href="https://s3-us-west-2.amazonaws.com/webgestalt/favicon.png">
<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-42098540-1', 'auto');
ga('send', 'pageview');
</script>
	{{#geneSetNet}}
	<!-- TODO -->
	{{/geneSetNet}}
	{{#geneSetDag}}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.2.15/cytoscape.min.js"></script>
	<script src="https://aws2.zhang-lab.org/yuxingl/webgestalt/node_modules/dagre/dist/dagre.min.js"></script>
	<script src="https://aws2.zhang-lab.org/yuxingl/webgestalt/node_modules/cytoscape-dagre/cytoscape-dagre.js"></script>
	{{/geneSetDag}}
<link rel="stylesheet" href="{{hostName}}/assets/dev/build/wg.css">
<link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css">
</head>
<body>
{{>header}}
<main>
<div id="app">
{{{bodyContent}}}
</div>
</main>
<script type="text/javascript" src="{{hostName}}/assets/dev/build/wg.min.js"></script>
<script type="text/javascript">
var enrichment = {{{sigJson}}};
var background = {{{insigJson}}};
var geneTables = {{{geneTableJson}}};
enrichment.forEach(function(d, i) { enrichment[i].options = {showLabel: true, showTooltip: true} });
{{#hasGeneSetDag}}
var dag = {{{dagJson}}};
{{/hasGeneSetDag}}
var barHeight = 500 + 10 * Math.max(0, (enrichment.length - 10));
wgLib({
	enrichment: enrichment,
	background: background,
	geneTables: geneTables,
	{{#methodIsGsea}}
	enrichMethod: "gsea",
	{{/methodIsGsea}}
	{{^methodIsGsea}}
	enrichMethod: "ora",
	mappedInputSize: {{numAnnoRefUserId}},
	{{/methodIsGsea}}
	standardId: "{{standardId}}",
	{{#hasGeneSetDag}}
	dag: dag,
	{{/hasGeneSetDag}}
	volcano: {
		{{#hasGeneSetDes}}
		labelTypes: ["geneset", "description"],
		{{/hasGeneSetDes}}
		{{^hasGeneSetDes}}
		labelTypes: "geneset",
		{{/hasGeneSetDes}}

		autoPlaceLabels: true,
		y: "FDR",

		{{#methodIsGsea}}
		x: "NES",
		xLabel: "NES",
		xTransform: null,
		radius: "leadingEdgeNum",
		color: "leadingEdgeNum",
			{{#hasGeneSetDes}}
			tooltipContent: ["geneset", "description", "NES", "FDR", "PValue", "leadingEdgeNum"]
			{{/hasGeneSetDes}}
			{{^hasGeneSetDes}}
			tooltipContent: ["geneset", "NES", "FDR", "PValue", "leadingEdgeNum"]
			{{/hasGeneSetDes}}
		{{/methodIsGsea}}
		{{^methodIsGsea}}
		x: "R",
		xLabel: "log2 of enrichment ratio",
		radius: "O",
		color: "O",
			{{#hasGeneSetDes}}
			tooltipContent: ["geneset", "description", "R", "FDR", "PValue", "O"]
			{{/hasGeneSetDes}}
			{{^hasGeneSetDes}}
			tooltipContent: ["geneset", "R", "FDR", "PValue", "O"]
			{{/hasGeneSetDes}}
		{{/methodIsGsea}}
	},
	bar: {
		dimensions: { width: 960, height: barHeight },
		tooltipContent: ["geneset", "description", "R", "FDR", "PValue", "O"],
		{{#methodIsGsea}}
		valueKey: "NES"
		{{/methodIsGsea}}
		{{^methodIsGsea}}
		valueKey: "R",
		xLabel: "Enrichment ratio"
		{{/methodIsGsea}}
	}
})


</script>
{{>footer}}
</body>
</html>
