<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>WebGestalt (WEB-based GEne SeT AnaLysis Toolkit)</title>
<link rel="icon" type="image/png" href="https://s3-us-west-2.amazonaws.com/webgestalt/favicon.png">
<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-42098540-1', 'auto');
ga('send', 'pageview');
</script>
	{{#geneSetNet}}
	<!-- TODO -->
	{{/geneSetNet}}
	{{#geneSetDag}}
	<!-- TODO -->
	{{/geneSetDag}}
</head>
<body>
{{>header}}
<main>
<div id="app">
{{{bodyContent}}}
</div>
</main>
<script type="text/javascript" src="{{hostName}}/assets/dev/build/main.js"></script>
<script type="text/javascript">
var enrichment = {{{sigJson}}};
var background = {{{insigJson}}};
enrichment.forEach(function(d, i) { enrichment[i].options = {showLabel: true, showTooltip: true} });
wgLib.initialize({
	enrichment: enrichment,
	background: background,
	volcano: {
		labelTypes: ["geneset", "description"],
		autoPlaceLabels: true,
		y: "FDR",
		{{#methodIsGsea}}
		x: "NES",
		xLabel: "NES",
		xTransform: null,
		radius: "leadingEdgeNum",
		color: "leadingEdgeNum",
		tooltipContent: ["geneset", "description", "NES", "FDR", "PValue", "leadingEdgeNum"]
		{{/methodIsGsea}}
		{{^methodIsGsea}}
		x: "R",
		xLabel: "log2 of enrichment ratio",
		radius: "O",
		color: "O",
		tooltipContent: ["geneset", "description", "R", "FDR", "PValue", "O"]
		{{/methodIsGsea}}
	},
	bar: {
		{{#methodIsGsea}}
		valueKey: "NES"
		{{/methodIsGsea}}
		{{^methodIsGsea}}
		valueKey: "R",
		xLabel: "Enrichment ratio"
		{{/methodIsGsea}}
	}
})


</script>
{{>footer}}
</body>
</html>
