<div class="toolbox" id="{{name}}_toolbox">
<div class="is-flex-tablet">
	<a class="button toolbox-download"><span class="icon">
	<svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" viewBox="0 0 8 8">
		<path d="M3 0v3h-2l3 3 3-3h-2v-3h-2zm-3 7v1h8v-1h-8z" />
		<title>Download PNG</title>
	</svg>
	</span></a>
	<a class="button toolbox-fit"><span class="icon">
	<svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" viewBox="0 0 8 8">
		<title>Resize to fit the viewport</title>
		<path d="M4 0l1.66 1.66-4 4-1.66-1.66v4h4l-1.66-1.66 4-4 1.66 1.66v-4h-4z" />
	</svg>
	</span></a>
	<a class="button toolbox-search"><span class="icon">
	<!-- icons from Open Iconic -->
	<svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" viewBox="0 0 8 8">
		<title>Search gene node</title>
		<path d="M3.5 0c-1.93 0-3.5 1.57-3.5 3.5s1.57 3.5 3.5 3.5c.59 0 1.17-.14 1.66-.41a1 1 0 0 0 .13.13l1 1a1.02 1.02 0 1 0 1.44-1.44l-1-1a1 1 0 0 0-.16-.13c.27-.49.44-1.06.44-1.66 0-1.93-1.57-3.5-3.5-3.5zm0 1c1.39 0 2.5 1.11 2.5 2.5 0 .66-.24 1.27-.66 1.72-.01.01-.02.02-.03.03a1 1 0 0 0-.13.13c-.44.4-1.04.63-1.69.63-1.39 0-2.5-1.11-2.5-2.5s1.11-2.5 2.5-2.5z"/>
	</svg>
	</span></a>
	<input list="{{name}}_list" class="input is-invisible" type="text"/>
	<datalist id="{{name}}_list">
	{{#nodes}}
		<option value="{{.}}">
	{{/nodes}}
	</datalist>
</div>
</div>
